body {
	height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.register-container {
    display: flex;
    align-items: center;
    height: 100%;
}

footer {
    margin-left: auto;
    padding: 10px;
}
